<?php
$paths = array(
    get_include_path(),
    '../library',
    '../library/Incu',
    '../library/Zapp'
);
set_include_path(join(PATH_SEPARATOR, $paths));

require 'Zend/Loader.php';

Zend_Loader::registerAutoload();

error_reporting(E_ALL);

$app = new Zend_Application('dev');
$app->bootstrap();

/**
 * Setup Front controller
 */
$front = Zend_Controller_Front::getInstance();
$front->dispatch();