/* @group Globals */

html {
    /* non-ie browsers short page fix */
    margin-bottom: 1px;
    height: 100%;
}

body {
    /* This sets the default font size to be equivalent to 10px from 16px */
    font : 62.5% Georgia, "Times New Roman", Times, serif; 
    color : #181818;
    background: #FFF url("/images/layout/tile.png") repeat-x;
}

/* @end */

/* @group Typography */

p {
	margin-bottom: 1.3em;	
}

.blue {
	color: #2f9dc0;	
}

h3 {
	font : 2.5em Georgia, "Times New Roman", Times, serif;
	color: #666;
}

h3 span {
	color: #ccc;
}

h3 + p,ul,h4,h5 {
	margin-top: 0.5em;
}

h4 {
	font : 2.0em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #2f9dc0;
}
h5 {
	font : 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #2f9dc0;
}
.hLight {
	background: #2f9dc0;
	color: #fff;
	padding: 3px 1px;
}

a {
	color: #2f9dc0;
	text-decoration: none;
}
a:hover {
	color: #fff;
	background: #2f9dc0;
}

/* @end */

/* @group Float */

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
	clear: both;
}

.clear-l {
	clear: left;
}

.clear-r {
	clear: right;
}

.clearfix:after, .container:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, .container {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container {display: block;}

/* @end */

/* @group Layout */

#headwrap {
	min-width: 950px;
	max-width: 1800px;
	color: #fff;
}

#logo {
    padding: 20px 0px 0px 20px;
}

#headright {
	margin: 132px -275px 0px 0px;
	position: relative;
}

#headright p {
	font-size: 1.8em;
	font-style: italic;
	width: 420px;
	text-align: right;	
}

#contentWrap {
	min-width: 950px;
	max-width: 1800px;
	padding: 20px 30px;
	font : 1.2em/1.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #6b6b6b;
}

.content {
	margin: 0px;
	background: transparent;
	width: 60%;
}

.categorylist {
    width: 30%;
    margin-right: 20px;
}

#bigfoot {
	padding: 20px 30px;
	background: #2f2f2f;
	color: #fff;
	min-width: 950px;
	max-width: 1800px;
}

#bigfoot h3 {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#bigfoot a {
	color: #2f9dc0;
	font-weight: bold;
	text-decoration: none;
}

#bigfoot a:hover {
	color: #fff;
	background: #2f9dc0;
	font-weight: bold;
	text-decoration: none;
}

#bigfoot ul {
	margin-right: 20px;
	font-size: 1.1em;
}

#bigfoot li {
	padding: 3px 0px 3px 0px;
}

#footer {
	padding: 20px 30px;
	background: #000;
	color: #fff;
	min-width: 950px;
	max-width: 1800px;
	font-size: 1.1em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#footer .rss {
	background: #000 url(/images/icons/rss.png) no-repeat;
	padding: 7px 0px 7px 28px;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	color: #247994;
	background: #000;
	text-decoration: none;
}

/* @end */

/* @group MainNav */

.main-nav {
	background: transparent;
	text-align: right;
	padding: 105px 40px 0px 0px;
}

.main-nav ul {
	font: 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	list-style: none;
	margin:  0;
	padding: 0;
}

.main-nav li {
	float: left;
	background: #383b41 ;
	padding: 10px 0px 10px 0px;
	margin: 0px 2px;
}

.main-nav li a {
	color: #fff;	
	text-decoration: none;
	padding:10px 10px 10px 10px;
}

.main-nav li a:hover {
	background: #24262a;	
}

.main-nav li.current a, 
.main-nav li.current a:hover{
	background: #ffffff;
	color: #8c8c8c;
	padding-bottom: 11px;
}

/* @end */

/* @group SubNav */

.sub-nav ul {
	margin: 10px 0px 20px 0px;
	padding:0px;
	font: 1.2em arial, helvetica, sans-serif;
	list-style-type:none;
	border-top:1px solid #ececec;
}

.sub-nav li {
	border-bottom:1px solid #ececec;
}

.sub-nav a {
	display : block;
	color:#6b6b6b;
	margin:0px;
	padding:5px 0px 5px 0px;
	text-decoration : none;
	background:transparent;
}
	
.sub-nav a:hover {
	background: #f1f1f1 ;
	color: #4b4b4b;
}
/* @end */

/* @group products */

.productitem {
	border-bottom: 1px solid #efefef;	
}

.productitem h4 {
	margin-top: 10px;
}

.productitem p {
    margin-bottom: 0.5em;
}

/* @end */

#nothing {
	background: #f1f1f1 url( '/images/layout/nothing.gif' ) 50%;
}

/* @group Archives */

.archive p {
	margin: auto auto 0.2em 0.8em;
}
.archive h4 {
	font-style: italic;
	margin-bottom: 10px;
}
.archive h5 {
	font-size: 1.5em;
	margin-bottom: 8px;
}


/* @end */

/* @group codeparser */
div.codeparser {
	font-size: 1.1em;
}
div.codeparser ol {
	overflow: auto;
}
div.codeparser ul {
	margin: auto !important;
}
div.codeparser li {
	margin: auto 30px !important;
	list-style-type: decimal-leading-zero;
	white-space: nowrap !important;
}

/* @end */

/* @group tables */
td {
	font-size: 1.2em;
	color: #424242;
	padding: 5px 5px;
	text-align: left;
	border-bottom: 0px;
	border-top: 0px;
	border: 1px solid #d9d9d9;
}

th {
	font-size: 1.2em;
	font-weight: normal;
	color: #424242;
	text-align: left;
	padding: 5px;
	border: 1px solid #d9d9d9;
}

table .odd {
    background: #f6f6f6;
}

table .rt {
    text-align: right;
}

table .colRight {
    width: 100px;
}

/* @end */